<!-- Asumiendo que 'propietarios' es el array de propietarios -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="color: black;">Propietario</th>
      <th scope="col" style="color: black;">Equipos</th>
      <th scope="col" style="color: black;">Visualizar</th>
    </tr>
  </thead>
  <tbody>
    {{#each listadoequipos}}
      <tr class="table-active">
        <td style="color: black;">{{propietario}}</td>
        <td>
          <table class="table">
            <thead>
              <tr>
                <th>Número de Equipo</th>
                <th>Consumo</th>
                <th>Nombre de Equipo</th>
                <th>Referencia</th>
              </tr>
            </thead>
            <tbody>
              {{#each equipos}}
                <tr>
                  <td style="color: black;">{{numEquipo}}</td>
                  <td style="color: black;">{{consumo}}</td>
                  <td style="color: black;">{{nombreEquipo}}</td>
                  <td style="color: black;">{{referencia}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </td>
        <td>
          <a href='/interfaz/visualizar-propietario/{{_id}}' class="btn btn-block" style="background-color: #007BFF; color: #fff;">Visualizar consumo total</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
