<!-- Asumiendo que 'propietarios' es el array de propietarios -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="color: black;">Propietario</th>
      <th scope="col" style="color: black;">Equipos</th>
      <th scope="col" style="color: black;">Visualizar</th>
      <th scope="col" style="color: black;">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {{#each listadoequipos}}
      <tr class="table-active">
        <td style="color: black;">{{propietario}}</td>
        <td>
          <table class="table">
            <thead>
              <tr>
                <th>Número de Equipo</th>
                <th>Consumo</th>
                <th>Nombre de Equipo</th>
                <th>Referencia</th>
              </tr>
            </thead>
            <tbody>
              {{#each equipos}}
                <tr>
                  <td style="color: black;">{{numEquipo}}</td>
                  <td style="color: black;">{{consumo}}</td>
                  <td style="color: black;">{{nombreEquipo}}</td>
                  <td style="color: black;">{{referencia}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </td>
        <td>
          <a href='/interfaz/visualizar-propietario/{{_id}}' class="btn btn-block" style="background-color: #007BFF; color: #fff;">Visualizar</a>
        </td>
        <td>
          <form action='/delete-equipo/{{_id}}?_method=DELETE' method="POST" id="deleteForm{{_id}}">
            <input type="hidden" name="_method" value="DELETE">
            <button type="button" class="btn btn-danger" onclick="confirmDelete('{{_id}}')">
              Delete
            </button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table> 
<script>
  function confirmDelete(sensorId) {
    if (confirm("¿Estás seguro de que deseas eliminar este elemento?")) {
      document.getElementById("deleteForm" + sensorId).submit();
    }
  }
</script>
