<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        Actualizar Usuario
      </div>
      <div class="card-body">
        <form action="/users/guardar" method="POST">
          <h12>Nombre:</h12>
          <div class="form-group">
            <input type="text" class="form-control" name="name"  value="{{name}}">
          </div>
          <h12>Identificación:</h12>
          <div class="form-group">
            <input type="text" class="form-control" name="identificacion" value="{{identificacion}}">
          </div>
          <h12>Código Seguridad:</h12>
          <div class="form-group">
            <input type="text" class="form-control" name="id" value="{{id}}" readOnly>
          </div>
          <h12>Facultad a la que pertenece:</h12>
          <div class="form-group">
            <input type="text" class="form-control" name="facultad" value="{{facultad}}">
          </div>
          <h12>Programa al que pertenece:</h12>
          <div class="form-group">
            <input type="text" class="form-control" name="programa" value="{{programa}}">
          </div>
          <h12>Email:</h12>
          <div class="form-group">
            <input type="email" class="form-control" name="email" value="{{email}}">
          </div>


          <button class="btn btn-primary btn-block">
            Actualizar Usuario
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
